{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<!-- 
<img src="{% static 'images/unad.png' %}" width="500" height="150" class="d-inline-block align-top" alt=""> -->
<div class=" navbar navbar-expand-lg bg-info d-flex justify-content-center ">    
    <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" href="/">🚀 Aplicación</a>
        <a class="navbar-brand" href="/comentarios">✍ Comentarios</a>
        <a class="navbar-brand" href="/contacto">📧 Contacto</a>
    </nav>
</div>

{% block content %}
{% endblock%}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/channel/UCf7BNlLpphP6oktGPVOy_bg" role="button" target="_blank"
          ><i class="fa-brands fa-youtube"></i></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/christian-saul-gonzalez-santos-743424188/" role="button" target="_blank"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/cristiansgonzalez" role="button" target="_blank"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 <a class="text-white" href="https://www.youtube.com/channel/UCf7BNlLpphP6oktGPVOy_bg" target="_blank">Pase el codigo</a> 
      todos los derechos reservados. diseño por Christian González
      
    </div>
    <!-- Copyright -->
  </footer>
  